Repository natelandau/halp, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, deps, halp

bump(release): v1.1.0 → v1.1.1
  CHANGELOG.md
  pyproject.toml
Labels: none

docs: fix broken badge
  README.md
Labels: none

build(deps): update dependencies
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/halper/cli.py
  src/halper/commands/categorize_command.py
  src/halper/commands/edit_description.py
  src/halper/commands/hidden_commands.py
  src/halper/models/indexer.py
  src/halper/utils/helpers.py
  uv.lock
Labels: ci, deps, halp

fix: remove locale from yamllint
  .yamllint.yml
Labels: none

build(deps): update dependencies (#45)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .yamllint.yml
  pyproject.toml
  src/halper/cli.py
  src/halper/commands/categorize_command.py
  src/halper/commands/edit_description.py
  src/halper/commands/hidden_commands.py
  src/halper/models/indexer.py
  src/halper/utils/helpers.py
  uv.lock
Labels: ci, deps, halp

ci: fix tests
  .github/workflows/test.yml
Labels: ci

ci: fix tests
  tests/conftest.py
Labels: none

ci: add sqlite
  .github/workflows/create-release.yml
  .github/workflows/test.yml
Labels: ci

ci: fix tests
  .github/workflows/create-release.yml
  .github/workflows/test.yml
Labels: ci

ci: tests
  .github/actions/setup_python_env/action.yml
  .github/workflows/create-release.yml
  .github/workflows/test.yml
Labels: ci

ci: fix tests
  .github/actions/setup_python_env/action.yml
Labels: ci

ci: database connections in test
  src/halper/utils/config.py
  src/halper/utils/database.py
  tests/cli/config_test.py
  tests/conftest.py
Labels: halp

ci: use mock_db fixture everywhere
  tests/cli/config_test.py
  tests/conftest.py
Labels: none

ci: fix tests
  tests/conftest.py
Labels: none

ci: again with these tests
  src/halper/cli/config.py
  src/halper/cli/helpers.py
  src/halper/utils/database.py
  tests/cli/config_test.py
Labels: halp

ci: again
  tests/cli/config_test.py
Labels: none

docs: update readme
  README.md
Labels: none

refactor: loglevel to printlevel
  .cursor/rules/all_python_rules.mdc
  .cursor/rules/architecture-principles.mdc
  .cursor/rules/comment-usage.mdc
  .cursor/rules/cursor-rule-location.mdc
  .cursor/rules/project-technology-stack.mdc
  .cursor/rules/pytest-test-rules.mdc
  .cursor/rules/python-docstring-rules.mdc
  .cursor/rules/python-naming-conventions.mdc
  .cursor/rules/use-pathlib.mdc
  src/halper/cli/helpers.py
  src/halper/cli/index.py
  src/halper/constants.py
  src/halper/controllers/indexer.py
  src/halper/halp.py
  src/halper/models/command.py
  src/halper/utils/mankier.py
Labels: halp

docs: update readme and contributing guidelines
  CONTRIBuTING.md
  README.md
Labels: none

bump(release): v1.1.1 → v2.0.0
  CHANGELOG.md
  pyproject.toml
Labels: none

fix(config): fix error finding config file
  src/halper/constants.py
  src/halper/halp.py
Labels: halp

bump(release): v2.0.0 → v2.0.1
  CHANGELOG.md
  pyproject.toml
Labels: none

build: add committed to pre-commit checks
  .pre-commit-config.yaml
  README.md
  committed.toml
  pyproject.toml
  src/halper/cli/config.py
  src/halper/utils/printer.py
  uv.lock
Labels: deps, halp

fix: capture keyboard interrupts gracefully
  .pre-commit-config.yaml
  pyproject.toml
  src/halper/halp.py
  src/halper/utils/printer.py
  uv.lock
Labels: deps, halp

fix: correct environment variable prefix
  .github/workflows/create-release.yml
  src/halper/utils/config.py
Labels: ci, halp

fix: create data dir before creating database
  .gitignore
  duties.py
  pyproject.toml
  src/halper/utils/database.py
Labels: halp

bump(release): v2.0.1 → v2.0.2
  CHANGELOG.md
  pyproject.toml
Labels: none

build(deps): bump dependencies
  .github/workflows/test.yml
  .pre-commit-config.yaml
  duties.py
  pyproject.toml
  uv.lock
Labels: ci, deps

build(deps): bump dependencies (#49)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  duties.py
  pyproject.toml
  uv.lock
Labels: ci, deps

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"
deps:
  - changed-files:
      - any-glob-to-any-file: "*.lock"
halp:
  - changed-files:
      - any-glob-to-any-file: "src/**"
