Repository natelandau/halp, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, deps, halp

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file: "**.md"
      - any-glob-to-any-file: "docs/**"
deps:
  - changed-files:
      - any-glob-to-any-file: "*.lock"
halp:
  - changed-files:
      - any-glob-to-any-file: "src/**"

ci: fix publish to pypi
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  uv.lock
Labels: ci, deps

ci: fix publish to pypi (#39)
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  uv.lock
Labels: ci, deps

test: test ci
  src/halper/cli.py
Labels: halp

fix: again
  src/halper/cli.py
Labels: halp

fix: mid way
  src/halper/constants.py
Labels: halp

fix: state dir
  src/halper/cli.py
Labels: halp

fix: db
  src/halper/models/database.py
Labels: halp

fix: change db_path
  src/halper/constants.py
Labels: halp

fix: debug
  .github/workflows/test.yml
  src/halper/constants.py
Labels: ci, halp

fix: asdf
  src/halper/constants.py
  src/halper/models/database.py
Labels: halp

feat: use XDG specification for file locations
  .github/workflows/create-release.yml
  pyproject.toml
  src/halper/cli.py
  src/halper/constants.py
  src/halper/models/database.py
  tests/conftest.py
Labels: ci, halp

feat: use XDG specification for file locations (#40)
  .github/workflows/create-release.yml
  pyproject.toml
  src/halper/cli.py
  src/halper/constants.py
  src/halper/models/database.py
  tests/conftest.py
Labels: ci, halp

bump(release): v1.0.3 → v1.1.0
  CHANGELOG.md
  pyproject.toml
Labels: documentation

docs: update readme
  README.md
Labels: documentation

ci: fix autorelease
  .github/workflows/create-release.yml
Labels: ci

docs: update readme (#42)
  .github/workflows/create-release.yml
  README.md
Labels: ci, documentation
